<% if @user %>
   <div class="span12">
        <h3>Friends using this app</h3>
        <ul class="friends">
            <% @friends_using_app.each do |friend_result| %>
                <li>
                <a href="#" onclick="window.open('http://www.facebook.com/<%= friend_result['uid'] %>')">
                    <img src="<%= friend_result['pic_square'] %>" alt="<%= friend_result['name'] %>">
                    <%= friend_result['name'] %>
                </a>
                </li>
            <% end %>
        </ul>
    </div>
<% else %>
    <div class="hero-unit">
        <h1>Photo Doodler</h1>
        <p>Photo Doodler lets you collaboratively doodle on your Facebook photos.
        Annotate, draw, or just doodle and then share it with your friends!
        <p><a class="btn btn-primary btn-large" href="/auth/facebook">Get Started Now &raquo;</a></p>
    </div>
<% end %>

<div class="span12">
    <h3>Recent Doodles</h3>
    <ul class="gridlist">
        <% @recent_doodles.each do |doodle| %>
            <li>
            <%= doodle[:id] %>
            <%= doodle[:userID] %>
            <%= doodle[:photoID] %>
            </li>
        <% end %>
    </ul>
</div>
