<% if @user %>
    <h3>Recent photos</h3>
    <div class="list">
        <ul class="photos">
            <% @photos.each_with_index do |photo, index| %>
                <li>
                <a href="#" onclick="window.open('http://www.facebook.com/<%= photo['id'] %>')">
                    <img width="94px" height="70px" src="<%= photo['picture'] %>)" />
                </a>
                </li>
            <% end %>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="list">
        <h3>Friends using this app</h3>
        <ul class="friends">
            <% @friends_using_app.each do |friend_result| %>
                <li>
                <a href="#" onclick="window.open('http://www.facebook.com/<%= friend_result['uid'] %>')">
                    <img src="<%= friend_result['pic_square'] %>" alt="<%= friend_result['name'] %>">
                    <%= friend_result['name'] %>
                </a>
                </li>
            <% end %>
        </ul>
    </div>
<% else %>
<% end %>
